h2{font-size: 1.875rem; display: inline-block;margin-bottom: 35px;margin-top: 73px;}
h3{font-size: 0.937rem;display: inline-block;}


#quickmenu{width:115px;
  position:fixed;
  top:100px;right:0;z-index:9999;
 display: none;}
#quickmenu {border-top:3px solid orange;
  border-bottom:3px solid orange}
#quickmenu a{border-top:1px solid #eee;
border-left:1px solid #eee;
border-right:1px solid #eee;
display:block;
}
#quickmenu a:first-child{border-top:none;}
#quickmenu a:last-child{border-top:3px solid orange}
#quickmenu a img{width:100%;}



#top_popup {height:100%;}
#top_popup img{width: 100%; min-width: 1024px;}
#top_popup .close{position: absolute;right:100px;top:10px;text-indent: -9999999px;
                background:none;border:0;}
#top_popup .close:before{content:'';display:block;width:2px; height:50px;background-color:#000;
                   transform:rotate(45deg);position:absolute;top:0px;}
#top_popup .close:after{content:'';display:block;width:2px; height:50px;background-color:#000;
    transform:rotate(-45deg);position:absolute;top:0px;}

/*********************section****************************/
#sec2 .inner{position: relative;}
#sec2 .notice .purp{width: 500px;height: 100px; background-color: tomato;
            position: absolute; bottom: 0;}
/*  width:calc((100% - 50px)/2)  */

#sec2 .notice {left: 0;}
#sec2 .purp {right: 0;}


#sec3 .inner > div {margin-right: 35px;width: calc((100% - 70px) / 3);
    height: 400px;box-sizing: border-box;
    border: 1px solid #e6e6e6; float: left;
     position: relative;}
#sec3 .inner > div:last-child{margin-right: 0;}
#sec3:after{content: '';display: block; clear: both;}
#sec3 .inner > div a{display: block;height: 400px;box-sizing: border-box;}
#sec3 .inner > div a::before{content:'';
                            display: block;width:0;height:0;
                              position: absolute;left: 0;top: 0;
                              border: 4px solid transparent;}
#sec3 .inner > div a::after{content:'';
                                display: block;width:0;height:0;
                                  position: absolute;right:0;bottom: 0;
                                  border: 4px solid transparent;}
#sec3 .inner > div:hover a::before{width:calc(100% - 8px);height:calc(100% - 8px);
                 border-top-color: #A39A7E; border-right-color:#A39A7E;
                 transition: width 0.4s, height 0.4s 0.4s;}
#sec3 .inner > div:hover a::after{width:calc(100% - 8px);height:calc(100% - 8px);
                    border-bottom-color: #A39A7E; border-left-color: #A39A7E;
                    transition: width 0.4s, height 0.4s 0.4s;}
/* 그림을 좌우로 잘라내는 경우는 img에 오버 플로우 히든, 포지션 렐러티브, {left: calc(50% -200px[원본의 반픽셀])}  */
#sec3 .clinic_txt{display: none;}
#sec3 .inner > div:hover button{transition: 0.5s;}
#sec3 .inner > div:hover .clinic_txt{display: none;}
#sec3 .inner > div:hover .clinic_img{display: none; }

#sec3 .box{text-align: center; font-size: 2rem;padding: 30px; color: rgb(26, 26, 26);}
#sec3 .box img{width:50%;}
#sec3 .box .clinlc_txt{font-size: 1rem;}

#sec5 h2, #sec5 h3{display: block;}
#sec5 .sec5_title{width: 400px;float: left;margin-right: 35px;}
#sec5 .sec5_title img{width: 100%;}
#sec5 .sec5_cont{width: calc(100% - 435px); float: left;}
#sec5 .regulr{width: 1100px;}

.regular div{margin-top: 26px;}

/*********************footer****************************/



#footer .foot_left{width:50%;float:left}
#footer  .foot_left h1{float:left}
#footer  .foot_left div{float:left;}
#footer  .foot_left div .right{margin-left:100px}
#footer  .foot_right{width:40%;float:right}

#footer  .foot_right p:first-child a{display:block;width:33.3%;float:left}
#footer  .foot_right p:last-child{clear:both;padding-top:20px;}




.right_box {
    width:80%;text-align: center;
    float:left;overflow:hidden }
.right_box li {width:25%;
     float:left;}
.right_box li a{display:block;
       padding:10px;
       border:1px solid transparent;
       box-sizing:border-box;
  }
  .right_box li:hover a{border-color:purple}
  .right_box .images_box {
         width:100px;height:100px;
         overflow:hidden;
       
  }
 .right_box .images_box img{
    width:100%;
  }
.right_box h3{padding:20px 0;}
.right_box .text{line-height:1.5em}